*

!.gitignore
!.vimrc
!.zshrc
!.gitconfig
!.skhdrc

!.config/
!.config/*

!.config/kitty/
!.config/kitty/*

!.config/eza/
!.config/eza/*

!.config/nvim/
!.config/nvim/*
!.config/nvim/lsp
!.config/nvim/lsp/*
!.config/nvim/lua
!.config/nvim/lua/*
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/*

!.vscode/
!.vscode/*
.vscode/argv.json

!Brewfile
