*

!.gitignore
!.vimrc
!.zshrc
!.gitconfig
!.skhdrc

!.config/
!.config/*

!.config/kitty/
!.config/kitty/*

!.config/lvim/
!.config/lvim/*
!.config/lvim/lua/user/
!.config/lvim/lua/user/*

!.vscode/
!.vscode/*

!Brewfile
